body, html {
    min-height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: rgb(40, 30, 50);
}

* {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5rem;
}

.results {
    padding: 0 !important;
    margin: 0 !important;
}

.chip {
    font-size: 1.25rem;
    background-color: black;
    padding: 8px;
    margin: 5px;
    border: 2px white solid;
    border-radius: 8px;
    color: rgb(240, 220, 255);
    text-decoration: none;
    display: inline-block;
}

.videoLink {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

*:not(input) {
    text-align: center;
}

#title {
    padding: 10px;
}

#titleBar {
    width: 100%;
    background-color: rgb(5, 0, 10);
    /* border: 0px; */
    border: 2px transparent solid;
    border-bottom-color: white;
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 10px;
}

#titleBar > div > * {
    display: inline-block;
    padding: 0;
    margin: 0;
}

#titleBar > div > form > input {
    /* text-align: right; */
    margin: auto;
    padding: 5px;
    width: 100%;
    background-color: rgb(10, 5, 15);
    border: 2px gray solid;
}

#titleBar > div {
    padding: 0;
    margin: 0;
}

#titleBar > div > form {
    display: inline-block;
    width: 100%;
}

#titleBar > div > h1 > a {
    text-decoration: none;
    color: white;
}

#description {
    background-color: rgb(12, 10, 15);
    padding: 10px;
    border: 2px gray solid;
}

#videoPlayer {
    margin: auto;
    padding: 0;
    object-fit: contain;
    display: block;
    /* height: 100%;
    max-width: 100%; */
    width: 100%;
    aspect-ratio: 1.8/1;
    max-height: 80vh;
    /* height: 80vh; */
}

#videoContainer {
    max-width: 100vw;
    display: flex;
    background-color: black;
}

p {
    padding: 2px;
}

.videoResult {
    background-color: black;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 2px;
    margin: auto;
    text-align: left;
    height: 100%;
    overflow: hidden;
}

/* @media (max-width: 720px) {
    .resultContainer {
        max-width: 450px;
    }
}

@media (min-width: 720px) and (max-width: 992px) {
    .resultContainer {
        max-width: 450px;
    }
}

@media (min-width: 992px) {
    .resultContainer {
        max-width: 550px;
    }
} */

.resultContainer {
    margin: 0 auto;
    padding: 5px;
}

.thumbnail {
    width: 100%;
    max-width: 350px;
    margin: auto;
    border-radius: 20px;
    aspect-ratio: 16/9;
    object-fit: cover;
    border: 2px white solid;
    margin: 5px auto;
}

/* .thumbparent {
    justify-content: center;
    align-items: center;
    display: flex;
} */

/* @media (max-width: 1200px) and (min-width: 992px) {
    .resultDescription {
        display: none;
    }
} */

.minipfp {
    width: 60px;
    height: 60px;
    border: 2px white solid;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    display: inline-block;
}

main {
    padding: 15px;
}

.pfp {
    width: 100%;
    max-width: 150px;
    border-radius: 50%;
    border: white 2px solid;
    margin: 15px auto;
}

hr {
    margin: 20px auto;
}

.note {
    color: darkgray;
    font-size: 0.9rem
}

#channelBar {
    background-color: rgb(15, 10, 25);
    border-bottom: 2px gray solid;
    padding: 20px;
    margin: 0;
    width: 100%;
}

.channelLink {
    color: white;
    font-size: 1.5rem;
    border: 2px white solid;
    display: inline-block;
    padding: 10px
}